@font-face {
	font-family: 'Lato Bold';
	src: url('../fonts/lato_bold.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/lato_bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/lato_bold.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/lato_bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/lato_bold.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/lato_bold.svg#lato_bold') format('svg'); /* Chrome < 4, Legacy iOS */
}

* {
    margin: 0;
    padding: 0;
}

#loading {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

body {
    font-family: -apple-system, BlinkMacSystemFont, Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    /*overflow: hidden;*/
}

a {
    text-decoration: none;
    color: #76a1d6;
}

a:hover {
    color: #ef850c;
}

#emoji {
    transition: .3s;
    width: 100px;
    height: 100px;
    /*border-radius: 50%;*/
    margin: 0 auto 24px;
    background: transparent url(/images/call-me-hand_1f919.png) no-repeat 50%/cover;
}

#emoji:hover {
    width: 105px;
    height: 105px;
}

.layout {
    min-height: calc(100vh - 50px);
}

.content {
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

#title {
    text-align: center;
    max-width: 400px;
    margin: auto;
}

#title b{
    transition: .3s all;
    font-family: 'Lato Bold';
    font-size: 64px;
    color: #2c2d2e;
}

#title p {
    margin-top: 24px;
    color: #2c2d2e;
}

#title i {
    color: #7a7a7a;
}

#title b:hover {
    font-size: 66px;
}

footer {
    text-align: center;
}

footer li a {
	display: block;
	text-decoration: none;
}

footer ul {
	list-style-type: none;
	padding: 0;
	list-style: none;
	display: inline-block;
	text-align: left;
}

footer li {
	float: left;
}


.icon>svg {
	margin-left: 10px;
	width: 16px;
	height: 16px;
	vertical-align: middle;
}

.username {
	margin-left: 6px;
}
