* {
	margin: 0;
	padding: 0;
}

@media screen and (max-width: 800px) {
	.container {
		font-size: 180%;
		/*max-block-size: 800px;*/
		min-width: 320px;
		padding-top: 20px;
		background-color: #fff;
	}

	pre {
		padding: 24px 24px 24px 0;
		background: linear-gradient(90deg, rgb(218, 123, 143) 0%,rgb(228, 174, 73) 100%);
		color: white;
		font-size: 2.3vw;
		height: 24px;
	}

	#gradienttop {
		padding: 24px 24px 24px 0;
		background: linear-gradient(90deg, rgb(218, 123, 143) 0%,rgb(228, 174, 73) 100%);
		color: white;
		font-size: 2.3vw;
	}

	#gradientmiddle {
		background: linear-gradient(90deg, rgb(218, 123, 143) 0%,rgb(228, 174, 73) 100%);
		color: white;
		font-size: 2.3vw;
		height: 12px;
	}

	img {
		margin-bottom: 10px;
		margin-left: -12px;
		min-width: 320px;
		max-width: 100%;
	}
}

a {
	text-decoration: none;
	color: #5f6368;
}

body {
	/*background: url(bg.jpg);
  background-size: cover;
  position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #fff;
	filter: blur(5px);
	background: linear-gradient(90deg, rgba(0,94,255,1) 0%, rgba(0,246,255,1) 100%);
	background-color: #202124;
	background: linear-gradient(90deg, #4b3136 0%,#423a2b 100%);*/
	background-color: #dce1e6;
}

@media screen and (min-width: 800px) {
	.container {
		font-size: 150%;
		/*position: absolute;
		top: 50%;
		left: 50%;
		margin-right: -50%;
		transform: translate(-50%, -50%);
		width: 600px;*/

		margin-top: 2.3vw;
		width: 600px;
		margin-left: auto;
		margin-right: auto;
		background-color: #ffffff;
		border-radius: 12px;
		margin-bottom: 2.3vw;
		box-shadow: 0px 0px 24px rgba(0,0,0,0.2);
	}

	img {
		margin-bottom: 10px;
		margin-left: -20px;
		width: 500px;
	}
}

.container > ul{
	padding-left: 20px;
	margin-left: 40px;
}

.container > p, li {
	padding-top: 2px;
	padding-left: 30px;
	color: #5f6368;
}

.container > h3{
	padding-left: 20px;
}

						/* specs */
#specs > h4{
	padding-left: 55px;
}

#specs > h3{
	padding-left: 20px;
}

header > h1{
	padding-left: 20px;
	/*font-weight: bold;*/
	color: #202124;
}

tt {
	background: linear-gradient(90deg, rgba(0,94,255,1) 0%, rgba(0,246,255,1) 100%);
	color: white;
	font-size: 12px;
}

@media screen and (min-width: 800px) {
	pre {
		padding-top: 12px;
		border-radius: 10px;
		background: linear-gradient(90deg, rgb(218, 123, 143) 0%,rgb(228, 174, 73) 100%);
		color: white;
		font-size: 17.7px;
	}

	#gradienttop {
		padding-top: 12px;
		border-radius: 10px 10px 0 0;
		background: linear-gradient(90deg, rgb(218, 123, 143) 0%,rgb(228, 174, 73) 100%);
		color: white;
		font-size: 17.7px;
		height: 24px;
	}

	#gradientmiddle {
		/*border-radius: 10px 10px 0 0;*/
		background: linear-gradient(90deg, rgb(218, 123, 143) 0%,rgb(228, 174, 73) 100%);
		color: white;
		font-size: 17.7px;
		height: 8px;
	}

	footer {
		border-radius: 0 0 12px 12px;
	}
}

						/* footer */
footer {
	background-color: #e6e6e6;
	padding-top: 10px;
	text-align: center;
	padding-bottom: 20px;
}

/*
header {
	text-align: center;
}

header > a {
	font-weight: bold;
	font-size: 24px;
	color: #FFF;
}

.author {
	margin-top: 10px;
	font-size: 20px;
}

.player {
	margin-top: 25px;
	text-align: center;
}

.album-cover > img{
	width: 256px;
	border-radius: 10px;
	box-shadow: 0px 0px 12px rgba(255,255,255,5);
}
*/

#hello {
	/*display: block;
	text-align: center;*/
	text-align: center;
}

#hello > img {
	width: 72%;
}

#hello > strong {
	display: block;
	margin: 0 24px 0 24px;
}